<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/company.png}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <title>Create Leave Request</title>
</head>
<style>
    body {
        background: url("/img/fundal.png") no-repeat fixed;
        background-size: cover;
    }

    .myDiv {
        border: 5px groove #3c5984;
        background: rgba(0,9,44, 0.9);
        text-align: center;
        top: 0;
        left: 0;
        width: 600px;
        margin: auto;
        padding: 30px 90px 30px 90px;
        position: relative;
        bottom: 0;
        right: 0;
    }

</style>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ><a th:href="@{/}">Home</a></li>
            <li class="active" ><a th:href="@{/create_leave_request}">Request For Leave</a> </li>
            <li><a th:href="@{/myRequest}">My Requests</a></li>
            <li sec:authorize="hasAnyAuthority('CEO','DEPARTMENT HEAD','TEAM LEADER')"><a th:href="@{/employeeRequest}">Employee Requests</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span th:utext="${name}">Name</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="myDiv" >
    <h1 class="h1 mb-3 font-weight-normal" style="color: white">ERROR</h1>
    <h3 class="h3 mb-3 font-weight-normal" style="color: white">The employee can take a rest leave at least 5 days before the chosen period<br/>and with a maximum of half a year before the chosen period!</h3>
    <h3 class="h3 mb-3 font-weight-normal" style="color: white">Or you can't create a leave request that have end date before start date!</h3>
</div>
</body>

</html>